# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/

# OSX
.DS_Store
.AppleDouble
.LSOverride

## Java
# either the 3rd party diff or IDEA:
*.java.orig

# Package Files
**/build/libs/*.jar
*.war
*.ear

#Gradle
.gradle
.gradletasknamecache
/build
buildSrc/build
/spring-*/build
/framework-bom/build
/framework-docs/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/
.gradle
*/.gradle

# Maven artifacts
pom.xml
/target/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Log files
jxl.log
jmx.log
derby.log
*.log
*.log.gz
*.log-*.gz
logs/

# Eclipse artifacts, including WTP generated manifests
bin
.classpath
.project
.settings
.springBeans
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.idea/
out/
output/
**/build/
